* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fondo-header: #ffffff;
  --texto-header: #14532d;
  --fondo-seccion-claro: #ffffff;
  --fondo-seccion-oscuro: #f2f3f2a0;
  --acento: #22c55e;
  --texto: #14532d;
  --tarjeta: #dbfcf3;
  --sombra: 0 8px 20px rgba(0, 0, 0, 0.2);
  --sombra-hover: 0 12px 30px rgba(0, 0, 0, 0.3);
  --fuente-titulos: "Playfair Display SC", serif;
}
body {
  background-color: var(--fondo-seccion-claro);
  color: var(--texto);
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  scroll-padding-top: 5.688rem; /* o la altura de mi header */
}
h1,
h2,
h3 {
  font-family: var(--fuente-titulos);
  color: var(--texto-header);
}

.seccion {
  padding: 4rem 2rem;
  text-align: center;
}

.hero {
  background-color: inherit;
}

.seccion:nth-child(odd) {
  background-color: var(--fondo-seccion-oscuro);
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--fondo-header);
  color: var(--texto-header);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--acento);
}
nav a:hover {
  text-decoration: underline;
}
nav li {
  list-style: none;
  padding: 0;
}

.servicios-grid {
  text-align: center;
}
.tarjeta {
  background-color: var(--tarjeta);
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: var(--sombra);
  transition: all 0.3s ease;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin: 0 1rem 1.5rem 0;
  min-height: 150px; /* para que todas las tarjetas tengan la misma altura */
}
.tarjeta:last-child {
  margin-right: 0;
}

.tarjeta-icono {
  font-size: 3rem;
  color: var(--acento);
  margin-bottom: 0.5rem;
}

.tarjeta h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--texto);
  font-weight: 600;
}

.tarjeta p {
  color: var(--texto-secundario);
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.btn {
  display: inline-block;
  background-color: var(--acento);
  color: var(--fondo-header);
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  width: auto;
  transition: 0.3s ease;
}
.btn:hover {
  background-color: #18ee26;
  color: var(--fondo-seccion-claro);
  transition: inherit;
}

.tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: var(--sombra-hover);
  transition: inherit;
}
.seccion form {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.campo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto 1.5rem auto;
  width: 50%;
}
.campo label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.campo textarea {
  margin-bottom: 1.5rem;
}
.btn-enviar {
  background-color: var(--acento);
  color: var(--fondo-header);
  padding: 0.75rem 1.5rem;
  margin-bottom: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn-enviar:hover {
  background-color: #18ee26;
  color: var(--fondo-seccion-claro);
  transition: inherit;
}
@media (max-width: 768px) {
  html,
  body {
    scroll-padding-top: 8.688rem;
    scroll-behavior: smooth; /* opcional: da animación suave al scroll */
  }
  .header {
    flex-direction: column;
    text-align: center;
  }
  .nav a {
    display: inline-block;
    margin: 0.5rem;
  }
  .tarjeta {
    width: 90%;
    margin: 0 auto 1.5rem auto;
    min-height: 30vh;
    padding: 1rem;
  }
  /* .tarjeta p {
    word-break: break-word;
  } */
}
